[submodule "includes/themes/cube.theme"]
	path = includes/themes/cube.theme
	url = https://github.com/LaxarJS/cube.theme.git
[submodule "includes/widgets/laxarjs/ax-developer-tools-widget"]
	path = includes/widgets/laxarjs/ax-developer-tools-widget
	url = https://github.com/LaxarJS/ax-developer-tools-widget.git
