[submodule "includes/themes/cube.theme"]
	path = includes/themes/cube.theme
	url = https://github.com/LaxarJS/cube.theme.git
[submodule "includes/lib/laxar"]
	path = includes/lib/laxar
	url = https://github.com/LaxarJS/laxar.git
[submodule "includes/lib/laxar-angular-adapter"]
	path = includes/lib/laxar-angular-adapter
	url = https://github.com/LaxarJS/laxar-angular-adapter.git
[submodule "includes/lib/laxar-react-adapter"]
	path = includes/lib/laxar-react-adapter
	url = https://github.com/LaxarJS/laxar-react-adapter.git
[submodule "includes/lib/laxar-patterns"]
	path = includes/lib/laxar-patterns
	url = https://github.com/LaxarJS/laxar-patterns.git
[submodule "includes/lib/laxar-uikit"]
	path = includes/lib/laxar-uikit
	url = https://github.com/LaxarJS/laxar-uikit.git
[submodule "includes/widgets/ax-accordion-widget"]
	path = includes/widgets/ax-accordion-widget
	url = git@github.com:LaxarJS/ax-accordion-widget.git
[submodule "includes/controls/laxar-i18n-control"]
	path = includes/controls/laxar-i18n-control
	url = git@github.com:LaxarJS/laxar-i18n-control
[submodule "includes/controls/laxar-accordion-control"]
	path = includes/controls/laxar-accordion-control
	url = git@github.com:LaxarJS/ax-accordion-control
